ul{
    list-style: none;
}
body{
    font-family: 'Playfair Display', serif;
    font-style: normal;
    font-weight: 400;
    color: #626262;
}
.header{
    margin: 0 0 92px 0;
}
.menu {
    display: flex;
    gap: 100px;
}

.menu-item {
}

.section-list {
    width: 420px;
}

.section-list-item {
}

.item-image {
}

.ubuntu {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    color: #B4AD9E;
}

.item-head {
    font-size: 30px;
    line-height: 40px;
}

.item-text {
    font-size: 14px;
    line-height: 19px;
}
