/* ul{
    list-style: none;
}

.list {
    display: flex;
} */

.ubuntu {
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    color: #B4AD9E;
}

h2{
    font-family: 'Playfair Display', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 40px;
    color: #626262;
}

p{
    font-family: 'Playfair Display', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #626262;
}
